button img {
    width: 300px;   /* Set the desired width */
   
}
button {
    position: fixed;
    bottom: 36%;       /* distance from bottom */
    left: 34%;          
    background-color: transparent;
    border: none;
  }

