#content{
    background-color: rgb(222, 132, 184);
    color: rgb(108, 54, 102)
}

#body{
    background-color: rgb(244, 198, 213);
    font-family:'Courier New', Courier, monospace
}
#button{
    background-color: rgb(218, 28, 136);
    border: none;
    font-family: 'Courier New', Courier, monospace;  
}

.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff99ff;
  }
  
  .image-wrapper {
    position: absolute;
    display: inline-block;
  }
  
  .overlayText {
    position: absolute;
    top: 18%;        
    left: 28%;       
    width: 50%;     
    padding: 1rem;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  