

#background img{
  position: center;
  width: 1200px;
  

}
*{
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd){
  background: #f9f9f9;
}

ul li:hover{
  background: #ddd;
}

ul li.checked{
  background: #e58ddb;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before{
  content: '';
  position: abosolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  height: 15px;
  width: 7px;
}

.header{
  background-color: #f889ff
}

.prevent-select{
  -webkit-user-select: none; /*Safari*/
  -ms-user-select: none; /* IE 10 and IE 11*/
  user-select: none; /* Standard syntax */
}


#background img{
  position: center;
  width: 1200px;

  }

  .todo-container {
      position: absolute;
      top:10px;
      left: 700px;
      z-index: 2;
      display:flex;
      flex-direction: column;
      width: 400px;
    }


  .todo-list li{
      
      display: flex; 
      align-items: center;
  }
   


 #oatmilk {          
    background-color: transparent;
    position: absolute;
    border: none;
    top: 20px;       /* distance from bottom */
    left: 280px;
  }

#oatmilk img {
    width: 460px
}

#wholemilk {         
    background-color: transparent;
    position: absolute;
    border: none;
    top: 50px;       /* distance from bottom */
    left: 650px;
}

#wholemilk img {
    width: 500px
}

#next {
  background-color: rgb(218, 28, 136);
  font-size: 30px;
  border-color: black;
  font-family: 'Courier New', Courier, monospace;
  width: 200px;
}

.next-container {
  position: absolute;
  top: 700px;
  left: 500px;
}