button {
    position: fixed;
    bottom: 500px;      
    left: 33%;          
    transform: translateX(-250%); 
    background-color: transparent;
    border: none;
    width: 40px;
}


*{
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd){
  background: #f9f9f9;
}

ul li:hover{
  background: #ddd;
}

ul li.checked{
  background: #e58ddb;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before{
  content: '';
  position: abosolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  height: 15px;
  width: 7px;
}

.header{
  background-color: #f889ff
}

.prevent-select{
  -webkit-user-select: none; /*Safari*/
  -ms-user-select: none; /* IE 10 and IE 11*/
  user-select: none; /* Standard syntax */
}


#background img{
    position: center;
    width: 1470px;
  }

  .todo-container {
      position: absolute;
      top:10px;
      left: 700px;
      z-index: 2;
      display:flex;
      flex-direction: column;
      width: 400px;
  }
  .todo-list li{
      
      display: flex; 
      align-items: center;
  }
   


 #oatmilk {          
    background-color: transparent;
    position: absolute;
    border: none;
    top: 290px;       /* distance from bottom */
    left: 400px;
}

#oatmilk img {
    width: 500px
}

#wholemilk {         
    background-color: transparent;
    position: absolute;
    border: none;
    top: 350px;       /* distance from bottom */
    left: 1000px;
}

#wholemilk img {
    width: 500px
}