button {
    position: fixed;
    bottom: 500px;      
    left: 33%;          
    transform: translateX(-250%); 
    background-color: transparent;
    border: none;
    width: 40px;
}


*{
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd){
  background: #f9f9f9;
}

ul li:hover{
  background: #ddd;
}

ul li.checked{
  background: #e58ddb;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before{
  content: '';
  position: abosolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  height: 15px;
  width: 7px;
}

.header{
  background-color: #f889ff
}

.prevent-select{
  -webkit-user-select: none; /*Safari*/
  -ms-user-select: none; /* IE 10 and IE 11*/
  user-select: none; /* Standard syntax */
}


#background img{
    position: center;
    width: 1470px;
  }

  .todo-container {
      position: absolute;
      top:10px;
      left: 700px;
      z-index: 2;
      display:flex;
      flex-direction: column;
      width: 400px;
  }
  .todo-list li{
      
      display: flex; 
      align-items: center;
  }
   .game-container {
            text-align: center;
            margin-top: 50px;
        }
        .game-container img {
            width: 300px;
            height: auto;
            border-radius: 8px;
        }
        .buttons {
            margin-top: 20px;
        }
        .buttons button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            transition: background-color 0.3s;
        }
        .buttons button:hover {
            background-color: #45a049;
        }
    