

#background img{
  position: center;
  width: 1200px;
  

}
*{
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd){
  background: #f9f9f9;
}

ul li:hover{
  background: #ddd;
}

ul li.checked{
  background: #e58ddb;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before{
  content: '';
  position: abosolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  height: 15px;
  width: 7px;
}

.header{
  background-color: #f889ff
}

.prevent-select{
  -webkit-user-select: none; /*Safari*/
  -ms-user-select: none; /* IE 10 and IE 11*/
  user-select: none; /* Standard syntax */
}


#background img{
  position: center;
  width: 1200px;

  }

  .todo-container {
      position: absolute;
      top:10px;
      left: 700px;
      z-index: 2;
      display:flex;
      flex-direction: column;
      width: 400px;
    }


  .todo-list li{
      
      display: flex; 
      align-items: center;
  }
   
  #oat-in-cart {
    position: absolute;
    display:none;
    top: 450px;
    left: 400px;
    width: 150px;
  }
  
  .oat-control {
    position: absolute;
    top: 30px;
    left: 70px;

  }
  
  .oat-control button {
    background: none;
    border: none;
    cursor: pointer;
    
  }
  .oat-control img {
    width: 250px;
    
  }


  #whole-in-cart {
    position: absolute;
    display:none;
    top: 450px;
    left: 560px;
    width: 150px;
  }
  
  .whole-control {
    position: absolute;
    top: 30px;
    left: 300px;

  }
  
  .whole-control button {
    background: none;
    border: none;
    cursor: pointer;
    
  }
  .whole-control img {
    width: 300px;
    
  }

  
  #tofu-in-cart {
    position: absolute;
    display:none;
    top: 450px;
    left: 500px;
    width: 100px;
  }
  
  .tofu-control {
    position: absolute;
    top: 30px;
    left: 600px;

  }
  
  .tofu-control button {
    background: none;
    border: none;
    cursor: pointer;
    
  }
  .tofu-control img {
    width: 200px;
    
  }

  

#beef-in-cart {
    position: absolute;
    display:none;
    top: 500px;
    left: 670px;
    width: 100px;
  }
  
  .beef-control {
    position: absolute;
    top: 30px;
    left: 300px;

  }
  
  .beef-control button {
    background: none;
    border: none;
    cursor: pointer;
    
  }
  .beef-control img {
    width: 200px;
    
  }
  

  #strawberry-in-cart {
    position: absolute;
    display:none;
    top: 590px;
    left: 400px;
    width: 130px;
  }
  
  .strawberry-control {
    position: absolute;
    top: 350px;
    left: -500px;

  }
  
  .strawberry-control button {
    background: none;
    border: none;
    cursor: pointer;
    
  }
  .strawberry-control img {
    width: 250px;
    
  }

  
  #orange-in-cart {
    position: absolute;
    display:none;
    top: 530px;
    left: 500px;
    width: 130px;
  }
  
  .orange-control {
    position: absolute;
    top: 320px;
    left: -250px;

  }
  
  .orange-control button {
    background: none;
    border: none;
    cursor: pointer;
    
  }
  .orange-control img {
    width: 230px;
    
  }


  #apple-in-cart {
    position: absolute;
    display:none;
    top: 530px;
    left: 500px;
    width: 130px;
  }
  
  .apple-control {
    position: absolute;
    top: 320px;
    left: 1px;

  }
  
  .apple-control button {
    background: none;
    border: none;
    cursor: pointer;
    
  }
  .apple-control img {
    width: 250px;
    
  }


   #grape-in-cart {
    position: absolute;
    display:none;
    top: 530px;
    left: 500px;
    width: 130px;
  }
  
  .grape-control {
    position: absolute;
    top: 360px;
    left: 280px;

  }
  
  .grape-control button {
    background: none;
    border: none;
    cursor: pointer;
    
  }
  .grape-control img {
    width: 250px;
    
  }





  .light-control {
    position: absolute;
    left: 298.5px;
    opacity: 0.9;
    background-color: transparent;
    border: none;
    top: 180px;
    z-index: 6;
  
  }
  .light-control img{
      width: 258px;

  }

  .light-control button {
    position: absolute;
    border: none;
    left: 129px;
    top:-80px;
  }

  .light-control button img {
    width: 220px;
    z-index: 6;
  }
#wholemilk img {
    width: 500px
}

#next {
  background-color: rgb(218, 28, 136);
  font-size: 30px;
  border-color: black;
  font-family: 'Courier New', Courier, monospace;
  width: 200px;
}

.next-container {
  position: absolute;
  top: 700px;
  left: 500px;
}