body{
    background-color: #070207;
}



.todo-container {
    position: absolute;
    top:10px;
    left: 800px;
    z-index: 2;
    display:flex;
    flex-direction: column;
    width: 400px;
}
.todo-list li{
    
    display: flex; 
    align-items: center;
}
