#background img {
    position: center;
    width: 1200px;

}

#walk-img img {          
    background-color: transparent;
    position: absolute;
    left:450px;
    top:260px;
    width:750px;
    z-index: 6;
}