#background img {
    display: block;
    margin: 0 auto;
    width: 1660px;
}

#walk { 
    background-color: transparent;
    position: absolute;
    border: none;
    top: 350px;       /* distance from bottom */
    left: 550px;
}

#walk img {
    width: 165px
}