.h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
  font-family:'Courier New', Courier, monospace;
  transform: translateX(-50%);  /* center horizontally */
}

.minor-section {
        color: #9A6B6C;
       
}

#bus {          
    background-color: transparent;
    position: absolute;
    border: none;
    top: 290px;       /* distance from bottom */
    left: 0px;
}

#bus img {
    width: 500px
}

#drive {         
    background-color: transparent;
    position: absolute;
    border: none;
    top: 0px;       /* distance from bottom */
    left: 400px;
}

#drive img {
    width: 500px
}

#walk { 
    background-color: transparent;
    position: absolute;
    border: none;
    top: 350px;       /* distance from bottom */
    left: 550px;
}

#walk img {
    width: 165px;
    transform: scalex(-1);
}

#bike img {
    width: 500px;
}

#bike {        
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;       /* distance from bottom */
    left: 0px;

}

.content {
    background-color: #FFFFFF;
}

#chosen-transport {
    border: 4px, rgb(108, 54, 102);
    background-color: rgb(244, 198, 213);
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top:100px;
    right: 10px;
    z-index: 2;
    display:flex;
    flex-direction: column;
    width: 400px;
}



.todo-container {
    position: absolute;
    top:20px;
    right: 0px;
    z-index: 2;
    display:flex;
    flex-direction: column;
    width: 250px;
}
.todo-list li{
    
    display: flex; 
    align-items: center;
}

#driveBike {
    background: #fa83aa;
    border-radius: 2px;
    border-color: #9A6B6C;
    font-family:'Courier New', Courier, monospace;
    
    font-size: 20px;
    
    width: 300px;
}

#driveWalk {
    background: #fa83aa;
    border-radius: 2px;
    border-color: #9A6B6C;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    width: 300px;
}

#driveCar {
    background: #fa83aa;
    border-radius: 2px;
    border-color: #9A6B6C;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    width: 300px;
}

#rideBus {
    background: #fa83aa;
    border-radius: 2px;
    border-color: #9A6B6C;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    width: 300px;
}
.todo-container {
    position: absolute;
    top:260px;
    right: 10px;
    z-index: 2;
    display:flex;
    flex-direction: column;
    width: 400px;
  }


.todo-list li{
    
    display: flex; 
    align-items: center;
}

