#background img {
    position: center;
    width: 1200px;

}

#bike-img img {
    background-color: transparent;
    position: absolute;
    left:250px;
    top:50px;
    width:1300px;
    z-index: 6;
}
