#background img {
    display: block;
    margin: 0 auto;
    width: 1660px;
}

#bike img {
    width: 500px;
}

#bike {        
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;       /* distance from bottom */
    left: 0px;

}
